.grid-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 20px;

    table {
        width: 100%;
        border-collapse: collapse;

        th, td {
            border: 1px solid $secondary-color;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: $primary-color;
            color: white;
        }

        tr:hover {
            background-color: lighten($primary-color, 20%);
        }
    }
}
